.rotating-image {
  width: 200px;
  height: 200px;
  animation: rotate360 4s ease-in-out;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
