.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text h1 {
  font-size: 50px;
  line-height: 1;
  margin: 0 0 30px;
}
.text p {
  font-size: 120%;
  margin-bottom: 40px;
  line-height: 1.9;
}
